%html{lang: 'en'}
  %head
    %title TechnoParser
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel: 'stylesheet'}/
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'}
    %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'}
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %a.navbar-brand{href: 'http://www.kotiki.tv/', target: '_blank'} TechnoParser
    .col-md-1
      %ul.nav.nav-pills.nav-stacked
        %li.active
          %a{href: root_path} Home
        %li= link_to 'Холодильники', controller: 'products', group_type: 'refrigerator'
        %li= link_to 'Электрические чайники', controller: 'products', group_type: 'teapot'
        %li= link_to 'Кофеварки', controller: 'products', group_type: 'coffee'
        %li= link_to 'Пылесосы', controller: 'products', group_type: 'vacuum'
        %li= link_to 'Телевизоры', controller: 'products', group_type: 'tv'
        %li= link_to 'Видеокамеры', controller: 'products', group_type: 'video'
        %li= link_to 'Фотоаппараты', controller: 'products', group_type: 'camera'

    - unless @products.blank?
      .col-md-11
        = form_tag root_path, method: 'get' do
          %p.col-xs-2
            = text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control'
          = submit_tag "Search", name: nil, class: 'btn btn-success'
        %table.table.table-striped
          %tr
            %th= sortable 'maker'
            %th= sortable 'model'
            %th= sortable 'price'
            %th= sortable 'site'
            %th= sortable 'status'
          - @products.each do |product|
            - duplicate_products = find_same_products(product)
            = render "products/#{get_partial_name(duplicate_products)}", product: product, sorted: duplicate_products

        = will_paginate @products
